{% extends 'base.html.twig' %}

{% block title %}Créer un test{% endblock %}
{% block etat %}class="bodyCo form"{% endblock %}
{% block body %}
    {#{{ form_start(form) }}#}
    {#{{ form_widget(form) }}#}
    {#<input type="submit" value="Envoyer">#}
    {#{{ form_end(form) }}#}

    {% include '_layouts/sidebar.html.twig' %}

    <main id="pretest" class="pagesForm">
        <div class="conteneur">
            <header>
                <h1>Formulaire pre/post-test</h1>
                <p>Sélectionnez les questions qui seront posées avant ou après le test. Vous pouvez ajouter d’autres pages de questions si besoin.</p>
            </header>

            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="definirTitre">
                <div class="ligneIntitule">
                    <label for="titrePage"><p>Titre de la page</p></label>
                    <a href="" data-infobulle="Donnez un nom à cette page. S'affiche comme titre en haut de la page.">
                        <img src="{{ asset('img/picto/question-mark-blue.svg') }}" alt="picto interrogation">
                    </a>
                </div>
                {{ form_widget(form.title) }}
            </div>
            <div class="positionnement">
                <label>Positionnement de cette page</label>

                <div class="groupeRadio">
                    <input type="radio" name="positionnement" id="radioDebut">
                    <label for="radioDebut">Au début du test</label>

                    <input type="radio" name="positionnement" id="radioFin">
                    <label for="radioFin">A la fin du test</label>
                </div>

            </div>

            <div class="listeCheckbox">
                {% for checkbox in form.optional_questions %}
                    <div class="ligneCheckbox">
                        <div class="bouton">
                            {{ form_widget(checkbox) }}
                            {{ form_label(checkbox) }}
                        </div>
                        <a href="" data-infobulle="Cochez la case que la question apparaître dans le formulaire pré/post-test.">
                            <img src="{{ asset('img/picto/question-mark-blue.svg') }}" alt="picto interrogation">
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="bas">
                <div class="doubleBoutons">
                    <a href="" class="demiboutonValidation">Ajouter une autre page de questions</a>
                    <a href="" class="demiboutonValidation">Prévisualiser la page</a>
                </div>

                <input type="submit" class="boutonValidation" value="Passer à la page de remerciements">
            </div>


            {{ form_end(form) }}
        </div>
    </main>

{% endblock %}