{% extends 'base.html.twig' %}

{% block title %}Liste des tests{% endblock %}

{% block etat %}class="bodyCo principal"{% endblock %}

{% block body %}
    {#<h1> {{ current_folder.name }}</h1>#}
    {#<a href="/logout">Déconnexion</a>#}
    {#<ul class="folders">#}
        {#{% for folder in current_folder.children %}#}
            {#<li><a href="{{ path('tests_index', {'id': folder.id}) }}">{{ folder.name }}</a></li>#}
        {#{% endfor %}#}
    {#</ul>#}

    {#<ul class="tests">#}
        {#{% for test in current_folder.tests %}#}
            {#<li>{{ test.name }}</li>#}
        {#{% endfor %}#}
    {#</ul>#}

    {#{% include '_layouts/sidebar.html.twig' %}#}
    <header class="co">
        <nav>
            <div class="hautMenu">
                <img src="{{ asset('img/lpp_logo.png') }}" alt="Logo laboratoire phonétique et phonologie">
                <a href="{{ path("tests_index", {"id": null}) }}" class="active"><img src="{{ asset('img/picto/folder.svg') }}" alt="pictogramme dossier">Liste des tests</a>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path("users_index", {"id": null}) }}" class="active"><img src="{{ asset('img/picto/folder.svg') }}" alt="pictogramme dossier">Liste des utilisateurs</a>
                {% endif %}
                <a href=""><img src="{{ asset('img/picto/question-mark.svg') }}" alt="pictogramme interrogation">Documentation</a>
                <a href=""><img src="{{ asset('img/picto/settings-work-tool.svg') }}" alt="pictogramme rouage">Paramètres</a>
            </div>
            <div class="basMenu">
                <a href="{{ path('tests_create') }}" class="btnMenu">
                    <img src={{ asset('img/picto/examBlue.svg') }} alt="exam">
                    <p>Créer un test</p>
                </a>
                <a href="/logout">Déconnexion</a>
            </div>

        </nav>
    </header>


    <main id="listeTests" class="pagesNonForm">
        <div class="conteneur">
            {#<header>#}
                {#<h1>Liste des tests</h1>#}
                {#<form action="{{ path('tests_search') }}" method="GET">#}
                    {#<input type="text" name="query" placeholder="Rechercher un test, un dossier...">#}
                {#</form>#}
            {#</header>#}

            <header>
                <div>
                    <h1>Liste des tests</h1>
                    <a href="" class="btnBleuP btnPop">
                        <img src="{{ asset('img/picto/folder-symbol.svg') }}" alt="Picto dossier">Créer un dossier
                    </a>
                </div>
                <form action="{{ path('tests_search') }}" method="GET">
                    <input type="text" name="query" placeholder="Rechercher un test, un dossier...">
                </form>

                <section class="exempleTest">
                    <article>
                        <p>Exemple de test - à dupliquer pour partir d’un template de base</p>
                        <div>
                            <a href="">
                                Visualiser le test
                            </a>
                            <a href="">
                                Dupliquer
                            </a>
                        </div>
                    </article>
                </section>
            </header>




            {% for folder in current_folder.children %}
                <section class="Dossier">
                    <div class="nomDossier">
                        <p><a href="{{ path('tests_index', {'id': folder.id}) }}">{{ folder.name }}</a></p>
                        <img src="{{ asset('img/picto/fleche.svg') }}" alt="pictogramme" class="fleche">
                    </div>
                    <div class="contenuDossier visible">

                        {% for folder in current_folder.children %}
                            {% for folder in folder.children %}
                                <article class="dossierLien">
                                    <a href="{{ path('tests_index', {'id': folder.id}) }}">{{ folder.name }}</a>
                                </article>
                            {% endfor %}
                            {% for test in folder.tests %}
                                <article class="ligneTest">
                                    <p>{{ test.name }}</p>
                                    <div>
                                        <a href="" data-infobulle="Voir les résultats.">
                                            <img src="{{ asset('img/picto/exam.svg') }}" alt="picto">
                                        </a>
                                        <a href="" data-infobulle="Voir le test.">
                                            <img src="{{ asset('img/picto/desktop-monitor.svg') }}" alt="picto">
                                        </a>
                                        <a href="" data-infobulle="Obtenir le lien du test">
                                            <img src="{{ asset('img/picto/chain.svg') }}" alt="picto">
                                        </a>
                                        <a href="" data-infobulle="Modifier le test">
                                            <img src="{{ asset('img/picto/pencil.svg') }}" alt="picto">
                                        </a>
                                        <a href="" data-infobulle="Copier le test">
                                            <img src="{{ asset('img/picto/copy-archive.svg') }}" alt="picto">
                                        </a>
                                        <a href="" data-infobulle="Rendre le test privé.">
                                            <img src="{{ asset('img/picto/turn-visibility-off-button.svg') }}" alt="picto">
                                        </a>
                                        <a href="" data-infobulle="Supprimer le test">
                                            <img src="{{ asset('img/picto/waste-bin.svg') }}" alt="picto">
                                        </a>
                                    </div>
                                </article>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </section>
            {% endfor %}

            {% for test in current_folder.tests %}
                <section class="test">
                    <article class="ligneTest">
                        <p>{{ test.name }}</p>
                        <div>
                            <a href="" data-infobulle="Voir les résultats.">
                                <img src="{{ asset('img/picto/exam.svg') }}" alt="picto">
                            </a>
                            <a href="" data-infobulle="Voir le test.">
                                <img src="{{ asset('img/picto/desktop-monitor.svg') }}" alt="picto">
                            </a>
                            <a href="" data-infobulle="Obtenir le lien du test">
                                <img src="{{ asset('img/picto/chain.svg') }}" alt="picto">
                            </a>
                            <a href="" data-infobulle="Modifier le test">
                                <img src="{{ asset('img/picto/pencil.svg') }}" alt="picto">
                            </a>
                            <a href="" data-infobulle="Copier le test">
                                <img src="{{ asset('img/picto/copy-archive.svg') }}" alt="picto">
                            </a>
                            <a href="" data-infobulle="Rendre le test privé.">
                                <img src="{{ asset('img/picto/turn-visibility-off-button.svg') }}" alt="picto">
                            </a>
                            <a href="" data-infobulle="Supprimer le test">
                                <img src="{{ asset('img/picto/waste-bin.svg') }}" alt="picto">
                            </a>
                        </div>
                    </article>
                </section>
            {% endfor %}





            {#<div class="bas">#}
                {#<section class="exempleTest">#}
                    {#<article>#}
                        {#<p>Exemple de test</p>#}
                        {#<div>#}
                            {#<a href="">#}
                                {#Visualiser le test#}
                            {#</a>#}
                            {#<a href="">#}
                                {#Dupliquer#}
                            {#</a>#}
                        {#</div>#}
                    {#</article>#}
                {#</section>#}
                {#<div class="boutonsValidation">#}
                    {#<a href="" class="boutonValidation"><img src="img/picto/exam.svg" alt="">Créer un dossier</a>#}
                    {#<a href="{{ path('tests_create') }}" class="boutonValidation"><img src="img/picto/exam.svg" alt="">Créer un Test</a>#}
                {#</div>#}
            {#</div>#}
        </div>
    </main>
    <div class="pop">
        <div class="popHeader">
            <h2>Créer un dossier</h2>
            <span class="popClose">✖</span>
        </div>
        <form id="createFolder" class="popContent" action="/submit" method="POST">
            <input type="text" name="name" placeholder="Entrez le nom du dossier...">
            <input type="submit" value="Envoyer">
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    <script>
        // $(".nomDossier").click(function(){
        //     $(".contenuDossier").toggleClass("visible");

        //     // $(".Dossier").css('height', '500');
        // })


        $(document).ready(function() {
            $('.nomDossier').on('click', function() {
                // console.log($(".contenuDossier"));
                // console.log($(this));
                // console.log($(this).siblings('.contenuDossier'));
                console.log($(this).children('img').css('transform'));

                $(this).siblings('.contenuDossier').toggle(".visible");

                $(this).children('img').toggleClass('fleche');

                // if($(this).children('img').css('transform') != 'rotate(90deg)') {
                //     $(this).children('img').css('transform', 'rotate(90deg)');
                // } else {
                //     $(this).children('img').css('transform', 'rotate(270deg)');
                // }

            });
        });
    </script>

{% endblock %}