{% extends 'base.html.twig' %}

{% block title %}Résultats pour {{ query }}{% endblock %}
{% block etat %}class="bodyCo principal"{% endblock %}
{% block body %}

<header class="co">
    <nav>
        <div class="hautMenu">
            <img src="{{ asset('img/lpp_logo.png') }}" alt="Logo laboratoire phonétique et phonologie">
            <a href="{{ path("tests_index", {"id": null}) }}" class="active"><img src="{{ asset('img/picto/folder.svg') }}" alt="pictogramme dossier">Liste des tests</a>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path("users_index", {"id": null}) }}" class="active"><img src="{{ asset('img/picto/folder.svg') }}" alt="pictogramme dossier">Liste des utilisateurs</a>
            {% endif %}
            <a href=""><img src="{{ asset('img/picto/question-mark.svg') }}" alt="pictogramme interrogation">Documentation</a>
            <a href=""><img src="{{ asset('img/picto/settings-work-tool.svg') }}" alt="pictogramme rouage">Paramètres</a>
        </div>
        <div class="basMenu">
            <a href="{{ path('tests_create') }}" class="btnMenu">
                <img src={{ asset('img/picto/examBlue.svg') }} alt="exam">
                <p>Créer un test</p>
            </a>
            <a href="/logout">Déconnexion</a>
        </div>

    </nav>
</header>

<main id="listeTests" class="pagesNonForm">
    <div class="conteneur">
        <header>
            <h1>Résultats pour {{ query }}</h1>
            <form action="{{ path('tests_search') }}" method="GET">
                <input type="text" name="query" placeholder="Rechercher un test, un dossier...">
            </form>
        </header>


        <section class="dossierLien">
            {% for folder in folders %}
                <article>
                    <a href="{{ path('tests_index', {'id': folder.id}) }}">{{ folder.name }}</a>
                </article>
            {% endfor %}
        </section>

    <section class="test">
        {% for test in tests %}
            <article class="ligneTest">
                <p>{{ test.name }}</p>
                <div>
                    <a href="">
                        <img src="{{ asset('img/picto/exam.svg') }}" alt="picto">
                    </a>
                    <a href="">
                        <img src="{{ asset('img/picto/desktop-monitor.svg') }}" alt="picto">
                    </a>
                    <a href="">
                        <img src="{{ asset('img/picto/chain.svg') }}" alt="picto">
                    </a>
                    <a href="">
                        <img src="{{ asset('img/picto/pencil.svg') }}" alt="picto">
                    </a>
                    <a href="">
                        <img src="{{ asset('img/picto/copy-archive.svg') }}" alt="picto">
                    </a>
                    <a href="">
                        <img src="{{ asset('img/picto/turn-visibility-off-button.svg') }}" alt="picto">
                    </a>
                    <a href="">
                        <img src="{{ asset('img/picto/waste-bin.svg') }}" alt="picto">
                    </a>
                </div>
            </article>
        {% else %}
            <p>Aucun résultat pour le terme de recherche "{{ query }}"</p>
        {% endfor %}
    </section>
{% endblock %}