{% extends 'base.html.twig' %}

{% block title %}Résultats pour {{ query }}{% endblock %}

{% block body %}
    <h1>Résultats pour {{ query }}</h1>

    <ul class="folders">
        {% for folder in folders %}
            <li><a href="{{ path('tests_index', {'id': folder.id}) }}">{{ folder.name }}</a></li>
        {% endfor %}
    </ul>

    <ul class="tests">
        {% for test in tests %}
            <li>{{ test.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
