{% extends 'base.html.twig' %}

{% block title %}Modifier le compte {{ user.email }}{% endblock %}

{% block etat %}class="bodyCo principal"{% endblock %}
{% block body %}
    <header class="co">
        <nav>
            <div class="hautMenu">
                <img src="{{ asset('img/lpp_logo.png') }}" alt="Logo laboratoire phonétique et phonologie">
                <a href="{{ path("tests_index", {"id": null}) }}" class="active"><img src="{{ asset('img/picto/folder.svg') }}" alt="pictogramme dossier">Liste des tests</a>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path("users_index", {"id": null}) }}" class="active"><img src="{{ asset('img/picto/folder.svg') }}" alt="pictogramme dossier">Liste des utilisateurs</a>
                {% endif %}
                <a href=""><img src="{{ asset('img/picto/question-mark.svg') }}" alt="pictogramme interrogation">Documentation</a>
                <a href=""><img src="{{ asset('img/picto/settings-work-tool.svg') }}" alt="pictogramme rouage">Paramètres</a>
            </div>
            <div class="basMenu">
                <a href="{{ path('tests_create') }}" class="btnMenu">
                    <img src={{ asset('img/picto/examBlue.svg') }} alt="exam">
                    <p>Créer un test</p>
                </a>
                <a href="/logout">Déconnexion</a>
            </div>

        </nav>
    </header>
    <main id="parametresgeneraux" class="pagesForm">
        <div class="conteneur">
            <header>
                <h1>Modifier le compte de {{ user.email }}</h1>
            </header>

            {{ form_start(form) }}
                <div class="ligneIntitule">
                    <label for="">Nom d'utilisateur</label>
                </div>
                {{ form_widget(form.username) }}
                <div class="ligneIntitule">
                    <label for="">Adresse email</label>
                </div>
                {{ form_widget(form.email) }}
                <div class="ligneIntitule">
                    <label for="">NOM</label>
                </div>
                {{ form_widget(form.lastname) }}
                <div class="ligneIntitule">
                    <label for="">Prénom</label>
                </div>
                {{ form_widget(form.firstname) }}
                <div class="ligneIntitule">
                    <label for="">Role</label>
                </div>
                {{ form_widget(form.role) }}
                <div class="bas">
                    <input class="boutonValidation" type="submit" value="Envoyer">
                </div>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}
